<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Key" value=""/>
    <add key="Account" value="scribena2"/>
    <add key="Url" value="https://scribena2.table.core.windows.net"/>
    <add key="Table" value="UpdatesByOrg"/>
  </appSettings>
</configuration>