<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="Key" value="JokJO9yaE0p8fIrLBVxFtBKSxJS70RBy1BJXTZtH9kAvkICJtj8qdJF3SCg0yvuq8DOyNjms2v53VWe/xLR7sQ=="/>
    <add key="Account" value="scribena2"/>
    <add key="Url" value="https://scribena2.table.core.windows.net"/>
    <add key="Table" value="UpdatesByOrg"/>
  </appSettings>
</configuration>